{% extends 'CareerGuidance/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">  
        {% block meta %}
            
        {% endblock meta %}

        {% block link %}
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />            
        {% endblock link %}
        
        {% block title %}
            
        {% endblock title %}
    </head>
    <body>
        {% block body %}
        <section class="home_banner_area">
            <div class="banner_inner">
                <div class="card mx-4" style="z-index: 98;">
                    <div class="card-body">
                        <form method="POST">
                            <h3>Question No </h3>
                            <div style="width: 100%;">
                                <select class="form-control col-sm-10">
                                    <option>Default select</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static 'js/gmaps.min.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        {% endblock %}
    </body>
</html>
