
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">  
    {% block meta %}
        
    {% endblock meta %}

    {% block link %}
        
    {% endblock link %}
    
    {% block title %}
        
    {% endblock title %}
    <title>Base</title>
</head>
<body>

    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
          <div class="search_input" id="search_input_box">
            <div class="container">
              <form class="d-flex justify-content-between" method="" action="">
                <input
                  type="text"
                  class="form-control"
                  id="search_input"
                  placeholder="Search Here"
                />
                <button type="submit" class="btn"></button>
                <span
                  class="ti-close"
                  id="close_search"
                  title="Close Search"
                ></span>
              </form>
            </div>
          </div>
  
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a class="navbar-brand logo_h" href=""
                ><img src="{% static 'img/logo.png' %}" alt=""
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div
                class="collapse navbar-collapse offset"
                id="navbarSupportedContent"
              >
                <ul class="nav navbar-nav menu_nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'Homepage' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'InputForm' %}">Find a Path</a>
                  </li>                 
                  
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Aptitude Test</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link search" id="search">
                      <i class="ti-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--================ End Header Menu Area =================-->
    {% block body %}
        
    {% endblock body %}
</body>
</html>